.comments_card {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 30vw;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 20px;
}
.name_ {
  font-family: "Roboto";
  font-size: 15px;
  color: black;
  border-radius: 5px;
}
.comment_text {
  margin-top: 20px;
  border-radius: 10px;
}
.button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.cooment_bg {
  display: flex;
  flex-direction: column;
}
